html,
body {
  margin: 0;
  height: 100%;
  min-width: 375px;
}

/* customize an individual component */
calcite-navigation-logo {
  --calcite-navigation-logo-text-color: var(--calcite-color-brand);
}

calcite-shell-panel[slot="panel-start"] calcite-panel,
calcite-shell-panel[slot="panel-start"] calcite-action-bar {
  border-top: 0;
}

calcite-shell-panel {
  --calcite-shell-panel-width: auto;
  --calcite-shell-panel-max-width: 100%;
}

arcgis-feature-table {
  height: 300px;
}

/* arcgis-features {
  flex: 1;
} */

.basemap-panel {
  width: 300px;
  height: 300px;
}

/* responsive styles */
@media (max-width: 768px) {
  .basemap-panel {
    width: 200px;
  }

  .esri-search {
    display: flex;
    width: 200px;
  }
}

arcgis-home { margin: 10px; }
arcgis-map::part(attribution) {
  display: none;
}

/* Fallback for non-part-compliant browsers */
.esri-attribution {
  display: none !important;
}

.layer-checkboxes {
  padding: 0.5rem;
}
.layer-checkboxes div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem 0;
}

 .tool-container {
      display: flex;
      gap: 0.5rem;
    }

      #add_layers_panel {
    max-height: 100vh; /* Ensure the panel does not exceed the viewport height */
    overflow-y: auto;  /* Enable scrolling only on the panel */
    box-sizing: border-box; /* Include padding and borders in height/width calculations */
  }
  
  #add_layers_panel .calcite-tab-content {
    height: auto; /* Allow the tab content to adjust dynamically */
    overflow-y: visible; /* Prevent nested scrolling inside tab content */
  }
#add-data-panel {
  width: 500px;
}
.esri-elevation-profile.esri-component.esri-widget--panel {
  width: 350px !important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 100;
}

#postmile-panel {
  width: 590px;
}

.parent {
  margin-top: 0%;
  text-align: center;
}

.child {
  display: inline-block;
  vertical-align: middle;
}

.panel-side,
#features-widget {
  padding: 2px;
  width: 350px;
  height: 100%;  
  bottom: 0;  
}

.combos {
  float: left;
  margin-right: 5px;
}
.combos2 {
  float: left !important;
  margin-right: 5px;
  margin-top: 10px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

 :root { --calcite-z-index-overlay: 9999; }
